@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background: rgba(0, 0, 0, 0.9);
}

.container {
  display: block;
  justify-content: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-transform: capitalize;
  mix-blend-mode: exclusion;
  flex-flow: column;
  font-weight: bold;
  color: salmon;
}
.title .header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  max-width: 50vw;
  width: 50vw;
}
.title .keywords {
  max-width: 50vw;
  margin-bottom: 1vh;
}
.title .keywords button {
  border-radius: 20px;
  font-weight: bold;
  color: salmon;
  background: rgba(0, 0, 0, 0.9);
}
.title .keywords button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  background: salmon;
}
.title a {
  text-decoration: none;
  color: salmon;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  transition: 0.5s;
}
.title input {
  width: 40vw;
  height: 5vh;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
.title button {
  padding: 10px 20px;
}
.title .searchDiv {
  opacity: 0.3;
  transition: 0.5s ease-in-out;
}
.title .searchDiv:hover, .title .searchDiv:focus {
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
  padding-bottom: 50vh;
  opacity: 1;
}
.title .searchDiv:not(:-moz-placeholder-shown) {
  opacity: 1;
}
.title .searchDiv:not(:-ms-input-placeholder) {
  opacity: 1;
}
.title .searchDiv:active, .title .searchDiv:not(:placeholder-shown) {
  opacity: 1;
}

figure.snip1579 {
  font-family: "Lato", Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 240px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
figure.snip1579:hover {
  transform: scale(1.2);
}
figure.snip1579 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.2;
}
figure.snip1579 figcaption {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  padding: 0;
  height: 100%;
  top: 15%;
  overflow: hidden;
  transition-duration: 0.5s;
  opacity: 1;
}
figure.snip1579 figcaption h3 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
figure.snip1579 figcaption h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
figure.snip1579 figcaption h6 {
  visibility: hidden;
}
figure.snip1579 * {
  transition: all 0.35s;
  box-sizing: border-box;
}
figure.snip1579 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
}
figure.snip1579 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1579.hide {
  display: none;
}
figure.snip1579.show {
  display: inline-block;
}
figure.snip1579.ColtSteele {
  border: 10px solid yellow;
}
figure.snip1579.ColtSteele img {
  opacity: 0.7;
}
figure.snip1579.LeilaGharani {
  border: 10px solid green;
}
figure.snip1579.LeilaGharani img {
  opacity: 0.7;
}
figure.snip1579.InsideCode {
  border: 10px solid gray;
}
figure.snip1579.InsideCode img {
  opacity: 0.7;
}
figure.snip1579.JonasSchmedtmann {
  border: 5px solid gray;
}
figure.snip1579.JonasSchmedtmann img {
  opacity: 1 !important;
}
figure.snip1579.TodsaponBanklongsi {
  visibility: hidden;
}
figure.snip1579.TodsaponBanklongsi figcaption {
  opacity: 0.1;
}
figure.snip1579.TodsaponBanklongsi img {
  opacity: 0.1;
}
figure.snip1579.NarendraDwivedi {
  visibility: hidden;
}
figure.snip1579.NarendraDwivedi figcaption {
  opacity: 0.1;
}
figure.snip1579.NarendraDwivedi img {
  opacity: 0.1;
}
figure.snip1579.KongRuksiam {
  visibility: hidden;
}
figure.snip1579.KongRuksiam figcaption {
  opacity: 0.1;
}
figure.snip1579.KongRuksiam img {
  opacity: 0.1;
}/*# sourceMappingURL=style.css.map */