$primaryColor : salmon;
$backgroundColor : rgba(0, 0, 0, 0.90);
$Greats : 'JonasSchmedtmann';
$Sucks : 'TodsaponBanklongsi','NarendraDwivedi','KongRuksiam';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background: $backgroundColor;
}
.container {
    display: block;
    justify-content: center;
    text-align: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-transform: capitalize;
  mix-blend-mode: exclusion;
  flex-flow: column;
  font-weight: bold;
  color: $primaryColor;
  .header {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    max-width: 50vw;
    width: 50vw;
  }
  .keywords {
      max-width: 50vw;
      margin-bottom: 1vh;
      button {
        border-radius: 20px;
        font-weight: bold;
        color: $primaryColor;
        background: $backgroundColor;
        &:hover {
          cursor: pointer;
          color: $backgroundColor;
          background: $primaryColor;
        }
      }
  }
  a {
    text-decoration: none;
    color: $primaryColor;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    transition: .5s;
    // &:hover {
    //   transform: scale(2);
    //   margin-top: 5vh;
    //   margin-bottom: 5vh;
    //   text-decoration: underline;
    // }
  }
  input {
    width: 40vw;
    height: 5vh;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }
  button {
    padding: 10px 20px;
  }
  .searchDiv {
    opacity: 0.3;
    transition: 0.5s ease-in-out;
    // transform: scaleX(0.7);
    &:hover, &:focus {
      transition: 0.5s ease-in-out;
      transform: scaleX(1);
      padding-bottom: 50vh;
      opacity: 1;
    }
    &:active, &:not(:placeholder-shown) {
      opacity: 1;
    }
  }
}

// https://codepen.io/littlesnippets/details/qqgKYL
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1579 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
//   max-width: 310px;
  max-width: 240px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: .5s;
  &:hover {
    transform: scale(1.2);
    img {
      opacity: 0.9;
    }
    // figcaption {
    //   opacity: 0;
    // }
  }
  img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.2;
  }
  figcaption {
    // position: absolute;
    // left: 15px;
    // right: 15px;
    // bottom: 15px;
    // padding: 15px;
    // height: calc(85%);
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    padding: 0;
    height: 100%;
    top: 15%;

    overflow: hidden;
    // background-color: rgba(0, 0, 0, 0.50);
    transition-duration: 0.5s;
    opacity: 1;
    h3 {
        font-family: 'Oswald';
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin: 3px 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    h5 {
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
        color: #bbb;
        letter-spacing: 1px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    h6 {
      visibility: hidden;
    }
  }
  * {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1em;
  }
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.hide {
    display: none;
  }
  &.show {
    display: inline-block;
  }


  // great
  &.ColtSteele {
    border: 10px solid yellow;
    img {
      opacity: 0.7;
    }
  }
  &.LeilaGharani {
    border: 10px solid green;
      img {
        opacity: 0.7;
      }
  }
  &.InsideCode {
    border: 10px solid gray;
      img {
        opacity: 0.7;
      }
  }

  @each $Grate in $Greats {
    &.#{$Grate} {
      border: 5px solid gray;
      img {
        opacity: 1 !important;
      }
    }
  }
  @each $Suck in $Sucks {
    &.#{$Suck} {
      // display: none;
      // visibility: hidden;
      &:hover {
        visibility: visible;
        opacity: 1;
        img {
          opacity: .2;
        }
      }
      figcaption {
        opacity: 0.001;
      }
      img {
        opacity: 0.001;
      }
    }
  }
}